﻿@model Inventario.Models.InventarioModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Objeto</h1>

<h3>¿Seguro quieres eliminar este objeto?</h3>
<div>
    <h4>Eliminar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Invid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Invid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Invname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Invname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a Inventario</a>
    </form>
</div>
