﻿@model Inventario.Models.InventarioModel

@{
    ViewData["Title"] = "Detail";
}

<h1>Detalles</h1>

<div>
    <h4>Detalles de inventario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Invid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Invid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Invname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Invname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Invid }) |
    <a asp-action="Index">Volver al Inventario</a>
</div>
