﻿@model Inventario.Models.InventarioModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Modificar Objeto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Invid" class="control-label"></label>
                <input asp-for="Invid" class="form-control" readonly/>
                <span asp-validation-for="Invid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invname" class="control-label"></label>
                <input asp-for="Invname" class="form-control" />
                <span asp-validation-for="Invname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carac" class="control-label"></label>
                <input asp-for="Carac" class="form-control" />
                <span asp-validation-for="Carac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al Inventario</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
