﻿@model IEnumerable<Inventario.Models.InventarioModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Tabla de Objetos</h1>

<p>
    <a asp-action="Create">Agregar Objeto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Invid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Invid }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Detalles", "Detail", new { id = item.Invid }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Invid }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
